// HealthBar

$colorHealthbar: rgb(39, 39, 39);
$widthHealthbar: 80px;
$heightHealthbar: 30px;
$colorTextHealthbar: #fff;
$fontSizeHealthbar: 12px;
$borderColorHealthbar: rgb(50, 90, 50);

//CurrentHealth

$currentHealth: rgb(1, 160, 1);


//HealthTable

$flexDirectionHealthTable: column;

//SpellItem

$sizeSpellItem: 50px;
$fontSizeSpellItem: 20px;
$opacitySpellKD: 0.4;