@import '../../../../variables/variables';

.HealthBar{
   width: $widthHealthbar;
   height: $heightHealthbar;
   background-color: $colorHealthbar;
   color: $colorTextHealthbar;
   font-size: $fontSizeHealthbar;
   border: $borderColorHealthbar 1px solid;
   position: relative;
   z-index: 1;

}

.currentHealth{
   background-color: $currentHealth;
   width: 50%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
}

.title{
   position: absolute;
   z-index: 3;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
}